@model AgonesDashboard.ViewModels.Fleet.Allocation
@{
    ViewData["Title"] = @Model.GameServerAllocation.Metadata?.Name;
}

<h2>GameServerAllocation - @Model.GameServerAllocation.Metadata?.Name</h2>
<pre><code>@Model.ToString()</code></pre>
