html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.detail__list-ul {
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
    .detail__list-ul ul {
        justify-content: space-between;
        list-style: none;
    }

    .detail__list-ul li {
        text-align: justify;
    }

.detail__list-label {
    padding-right: 1em;
    color: #6c6c6c;
}
