@model AgonesDashboard.ViewModels.GameServer.Detail
@{
    ViewData["Title"] = @Model?.GameServer?.Metadata?.Name;
}

<h2>GameServer - @Model?.GameServer?.Metadata?.Name</h2>
<pre><code>@Model?.ToString()</code></pre>
